{% extends 'base.html'%}

{% block title%}
    <h1>Главная страница</h1>
{% endblock %}

{% block content %}
    <h1>Боксерский зал "Политехник"</h1>

<li>Lorem ipsum dolor sit amet.</li>
<li>Et magni non repellat! Pariatur!</li>
<li>Dicta doloremque fuga iste voluptatem!</li>
<li>Dolores fugiat maiores nulla repellendus!</li>
<li>Ad alias id nihil porro?</li>
<li>Corporis eius est nobis provident?</li>
<li>Ducimus eaque enim error magni!</li>
<li>Blanditiis delectus deserunt iure nam.</li>
<li>Aspernatur excepturi exercitationem nobis sit!</li>
<li>Aut eum quam temporibus veritatis?</li>
{% endblock %}