body{
    background-color: azure;
}

header{
    position: sticky;
    top: 0;
    background: azure;
    z-index: 1000;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}

* {
  margin: 0;
  padding: 0;
}
.content {
  min-height: calc(100vh - 80px);
}
.logo{
    width: 48px;
    height:68px;
}